<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LocalVideoPlayerBySwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>389645C81CCF638000EA726C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>389645DC1CCF638100EA726C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>389645E71CCF638100EA726C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
