<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>snapchatMenuWithSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3853A2191CD1F6A90009C26B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3853A22D1CD1F6A90009C26B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3853A2381CD1F6A90009C26B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
